.RDV {
    font-family: 'Arial', sans-serif;
    background-color: #bff7c2;
    margin: 0;
}

.form_container {
    max-width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #34dba3;
}

input,
textarea,
select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #9ab6ab;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #146918;
}